.team {
	background-color: #f5f4fa;
	padding: 60px 0;
	
	@media screen and (min-width: 767px) and (max-width: 1199px) {
		  padding: 94px 0;
		}

	&__list {

			display: flex;
			flex-wrap: wrap;
			gap: 30px;
	}

	&__item {
		flex-basis: 100%;
		padding-bottom: 30px;
		background-color: white;
		text-align: center;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
		overflow: hidden;
		@media screen and (max-width: 767px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		@media screen and (min-width: 480px) and (max-width: 767px) {
			flex-basis: calc((100% - 30px) / 2);
			padding-bottom: 30px;
		}
		@media screen and (min-width: 767px) {
			flex-basis: calc((100% - 90px) / 4);
			padding-bottom: 30px;
		}
		width: 100%;
	}

	&__name {
		margin-bottom: 10px;
		padding-top: 30px;
	}

	&__position {
		margin: 0 0 16px 0;
		padding: 0;

	}
}
.soc-list {
	display: flex;
	justify-content: center;
}

.soc-list__item:not(:last-child) {
	margin-right: 10px;
}

.soc-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;

	&:hover,
	&:focus {
		background-color:#2196F3;
		outline: transparent;
		color: white;
	}
}


.team__title{
	  font-size: 36px;
	  line-height: 1.16;
	  margin-bottom: 50px;
}

