.name-example{
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 1.13;
letter-spacing: 0.04em;
text-transform: uppercase;
color: blue;
background-color: yellow;
}

.surname-example{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: yellow;
    background-color: blue;
}