@mixin small {
    @media screen and (min-width: 320px) and (max-width: 479px) {
       @content; 
    }
}
@mixin mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
       @content; 
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       @content; 
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
       @content; 
    }
}
.container{

width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
    /*outline: 1px solid red;*/
   @media screen and (min-width: 320px) and (max-width:479px){
    max-width: 320px;
    padding: 0px 0px;
   }
   @media screen and (min-width: 480px) and (max-width:767px){
    max-width: 480px;
    padding: 0px 0px;
   }
   @media screen and (min-width: 768px) and (max-width:1199px){
    max-width: 768px;
   }
   @media screen and (min-width: 1200px){
    max-width: 1200px;
    padding: 0px 0px;
   }
    }